@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kjd5bf');
  src:  url('../fonts/icomoon.eot?kjd5bf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kjd5bf') format('truetype'),
    url('../fonts/icomoon.woff?kjd5bf') format('woff'),
    url('../fonts/icomoon.svg?kjd5bf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-automobile:before {
  content: "\e902";
}


/*
	RESET
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
body{line-height: 1; font-size: 18px; font-family: 'Noto Sans', sans-serif;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content: '';content: none;}
table{border-collapse: collapse;border-spacing: 0;}

/*
	GENERAL STYLES
*/
*{ -webkit-box-sizing: border-box;box-sizing: border-box}
ul{list-style-type: none}
a,
a:hover{text-decoration: none;color: inherit}

.flex{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.hide{display: none;}

/*
HEADER
*/
.header{position: fixed; z-index: 1;color: white; background: #1b1b1bbf; width: 100%; padding: 1em;}
.header h3{text-align: center; font-size: 1.7em;letter-spacing:0.1em;}

/* 
HERO
*/
.hero{justify-content: center;background-image: url(../assets/route.jpg); height: 400px; background-size: cover; background-position: bottom; background-repeat: no-repeat; position: relative; align-items: center;}
.hero-container{padding: 2em; position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.hero span{color: #CDDC39;}
.hero .overlay{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #040202; opacity: 0.6;}
.hero h1{font-size: 2.5em; color: white; letter-spacing: 0.13em; line-height: 1.5em;text-align: center;}
.hero h2{color: white; padding-top: 3em; letter-spacing: 0.1em; font-size: 1.2em;}

/*
ABOUT
*/
.about{padding: 1.5em 1.5em 0em 1.5em;text-align: center;background: #FFFFEB;}
.about h2{padding-top: 2em; font-size: 1.5em; color:#5FBCE8; font-weight: 600;}
.about h3{padding-top: 2.5em; color: #888484; font-weight: 600; letter-spacing: 0.1em;}
.about .about-information{padding: 1em;}
.about button{background-color: #607D8B; margin: 2em 3em 3em 3em; border: none; border-radius: 0.5em; padding: 0.5em 2em;}
.about .about-send{position: relative; padding-top: 1em; margin-top: 1em;}
.about .about-send button{font-size: 1em; color: white;letter-spacing: 0.1em;cursor: pointer;}
.about .about-send button:hover{background-color: #ded52ade;}
.about .car-information,
.about .person-information{display: flex; flex-direction: column;}
.about .person-information{display: none;}
.about input,
.about select{width: 100%; margin: 0 auto; border-radius: 0.5em;  padding: 0.9em 0em; border: solid 0.1em #5FBCE8;}
.about label{margin: 1em 0em 0.1em 0em; color: #101010e8;position: relative; background: white; font-size: 0.8em; margin-left: 15px; margin-bottom: -0.5em; width: auto; padding: 0 5px;}
.about .label-large{width: 11em;}
.about .box-container{display: flex; flex-direction: column; width: 400px; max-width: 100%; margin: auto; margin-top: 0.7em;}
.about .about-container{background: white; position: relative; top: -5em; border-radius: 0.2em; box-shadow: 0.5em 0.5em 0.5em 0.5em #00000078;width: 60%; margin: auto;}
.about .parrafo-aviso{left: 50%; transform: translate(-50%, 0); top: 0; margin-top: 0.5em; color: black; font-weight: 600; position: absolute; display: none;width: 25em;}
.about .marca option,
.about .modelo option,
.about .modelo,
.about .marca{text-transform: lowercase;}
.animated{-webkit-transition: 0.2s all linear;-o-transition: 0.2s all linear;transition: 0.2s all linear;}

/*
MODAL
*/
.modal {display: none;  position: fixed;  z-index: 1;  left: 0; top: 0; width: 100%; height: 100%;  overflow: auto;  background-color: rgb(0,0,0);  background-color: rgba(0,0,0,0.4);}
.modal-content {width: 70%; margin: auto; display: none;}
.modal-content p{padding: 0.5em 0em;}
.modal-content .last-p{font-weight: 700; text-align: center; line-height: 1.5em;padding: 1em 0em 0em 0em; letter-spacing: 0.02em;}
.modal-content .first-p{color: #8ccfee; font-weight: 600; text-align: center; font-size: 1.2em; padding: 2em 0em 1em 0em;}
.modal-button {position: relative; padding-top: 1em;}
.modal-button button { background-color: #607D8B; margin: 0em 3em 3em 3em; border: none; border-radius: 0.5em; padding: 0.5em 2em;}
.modal-button button { font-size: 1em; color: white; letter-spacing: 0.1em; cursor: pointer;}
.modal-button button:hover{background-color: #ded52ade;}

/*
LINE-CAR
*/
.line-car{display: flex; align-items: center;justify-content: center; padding-top: 4em;}
.line-car .icon-automobile{padding: 1em}
.line-car .line{background: #8ccfee; width: 6em; height: 0.1em;}
.line-car .car-one{border-radius: 50%; background: #8ccfee;}

/*
FOOTER 
*/
footer{background: #e8e8e87a;}
footer .line-footer{padding: 0.01em 1em; background: #8f848478;}
footer .icon-phone,
footer .icon-mail{padding: 2em; color: #66b7dc;}
footer .container{display: flex; justify-content: center;}
footer .footer-box{margin: 0.5em 2em; display: flex; justify-content: center; align-items: baseline;}
footer h3{padding-top: 1em;}
footer a{display: flex; align-items: baseline;}

.label-container{text-align: left; margin-bottom: -0.4em;}


/*
MEDIA QUERIES
*/
@media screen and (max-width:900px){
  body{font-size: 10px;}
  .about input, .about select{width: 80%}
  .hero h2{text-align: center;line-height: 1.5em}
  .label-container {text-align: center}
}

@media screen and (max-width:320px){
   .about input, .about select {padding: 0.5em 0em}
   footer .icon-phone, footer .icon-mail {padding: 1em}
   .about .parrafo-aviso {width: 15em}
}